<div class="bigContainer">
    <div class="containerLogin">
        <form action="">
            <label for="username" class="label">Username</label>
            <input type="text" id="username" class="formulario" placeholder="Introduce tu username">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" class="formulario" placeholder="Introduce tu contrasena">
            <input type="submit" class="botonPro" value="Entrar">
        </form>
    </div>
</div>