<div class="bigContainer container ">
    <div class="containerLogin container">
        <form action="">
            <label for="username" class="label">Username</label>
            <input type="text" id="username" class="formulario" placeholder="Introduce tu username">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" class="formulario" placeholder="Introduce tu contrasena">

            <button class="botonPro"> <img src="/images/a-clock-that-has-a-watching-eye-in-the-center (1).png"
                    alt=""><span>Entrar</span></button>
            <!-- <input type="submit" class="botonPro" value="Entrar"> -->
        </form>
    </div>
</div>