<div class="my-5 pt-5 ">
  <div class="container  mt-2">
    <div class=" col-md-8 col-lg-7 offset-md-3 offset-lg-4">
      <form class="border rounded p-5" [formGroup]="insertUserForm" (ngSubmit)="setData()">
      <h2 class="text-center  mb-5">Añadir Usuario</h2>
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de usuario</label>
          <input type="text" id="username" class="input-form-user form-control" formControlName="username" />
          <hr class="m-0">
          @if(validate('username')) {
          <small class="text-danger">*Solo letras, números, guion y guion bajo</small>
          }
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" id="email" class="input-form-user form-control" formControlName="email" />
          <hr class="m-0">
          @if(validate('email')) {
            <small class="text-danger">*Correo electronico incorrecto</small>
            }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" class="input-form-user form-control" formControlName="password" />
          <hr class="m-0">
          @if(validate('password')) {
            <small class="text-danger">*Al menos una mayúscula y un número</small>
            }
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Rol</label>
          <select id="role" class="input-form-user form-control" formControlName="role">
            <option value="admin">Admin</option>
            <option value="estandar">Estandar</option>
          </select>
          <hr class="m-0">
        </div>
        <div class="mb-3">
          <label for="contract" class="form-label">Horas Contrato</label>
          <input type="number" id="contract" class="input-form-user form-control" formControlName="contract" />
          <hr class="m-0">
          @if(validate('contract')) {
            <small class="text-danger">*Solo números positivos (del 1 en adelante)</small>
            }
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Crear</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
