.input-form-user {
  border: none;
}

@media (min-width: 768px) {
  .insert-user {
    width: 100%;
    max-width: calc(100% - 200px);
    float: right;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      > div {
        max-width: 600px;
      }
    }
  }
}
