<div class="">
  <div class="card container text-center w-100 py-3 shadow stopwatch circuloPerfecto">
    <!-- <h1>Horas Trabajadas</h1> -->
    <p class="text-lg mb-4">{{ formattedTime }}</p>
    @if(runningPause){
    <p class="text-sm">Pausa: {{ formattedTimePause }}</p>
    }
    <div class="d-flex justify-content-center gap-2 mt-2 p-2">
      <button class="statusTerminado" (click)="startTimer()" [disabled]="runningPause">
        {{ startText }}
      </button>
      <button class="statusCancelado" (click)="startPause()" [disabled]="!canPause">
        {{ pauseText }}
      </button>
    </div>
  </div>
</div>