<section class="container text-center records">
  <div class="container mx-auto mt-4 px-0 border shadow row rellenoListas">
    <article class="px-0 d-flex justify-content-around">
      <span class="border w-100">Fecha</span><span class="border w-100">Horas</span><span
        class="border w-100">Proyecto</span>
    </article>
    @for (record of history; track record.id) {
    <article class="px-0 w-100">
      <app-hour-entry [record]="record" />
    </article>
    } @empty {
    <article class="col-12 px-0">
      <p class="text-center pt-3">No hay registros para este mes.</p>
    </article>
    }
  </div>
</section>