<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow mt-5">
        <div class="card-header mt-3">
          <h3 class="text-center">Cambiar Contraseña</h3>
        </div>
        <div class="card-body shadow">
          <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label for="username" class="form-label">Usuario: </label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                formControlName="username"
              />
            </div>

            <div class="mb-3">
              <label for="currentPassword" class="form-label"
                >Contraseña Actual:
              </label>
              <input
                type="password"
                class="form-control"
                id="currentPassword"
                name="currentPassword"
                placeholder="Ingresa tu contraseña actual"
                formControlName="currentPassword"
              />
            </div>

            <div class="mb-3">
              <label for="newPassword" class="form-label"
                >Nueva Contraseña:
              </label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Ingresa tu nueva contraseña"
                formControlName="newPassword"
              />
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!passwordForm.valid"
              >
                Cambiar Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
