<app-header></app-header>
<app-nav-sidebar></app-nav-sidebar>
<div class="my-5 pt-5">
    <div class="container">
        <div class="col-md-8 col-lg-7 offset-2 offset-md-3 offset-lg-4">
            <h2 class="mt-4 text-center">Editar Proyecto</h2>
            <form [formGroup]="editProjectForm" (ngSubmit)="onSubmit()" class="border rounded p-4">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre de proyecto</label>
                    <input type="text" id="name" class="form-control" formControlName="name" />
                    @if(checkFieldError('name', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                    @if(checkFieldError('name', 'minlength')){
                    <p class="error">El campo tiene una longitud minima de 3 caracteres</p>
                    }
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <input type="text" id="description" class="form-control" formControlName="description" />

                    @if(checkFieldError('description', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                    @if(checkFieldError('description', 'minlength')){
                    <p class="error">El campo tiene una longitud minima de 3 caracteres</p>
                    }
                </div>

                <div class="mb-3">
                    <label for="start" class="form-label">Inicio proyecto</label>
                    <input type="datetime-local" id="start" class="form-control" formControlName="start" />
                </div>

                <div class="mb-3">
                    <label for="end" class="form-label">Fin de proyecto</label>
                    <input type="datetime-local" id="end" class="form-control" formControlName="end" />
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" class="form-select" formControlName="status">
                        <option value="finish">Finish</option>
                        <option value="active">Active</option>
                        <option value="cancel">Cancel</option>
                    </select>

                </div>

                <div class="mb-3">
                    <label for="estimatedHours" class="form-label">Horas estimadas</label>
                    <input type="number" id="estimatedHours" class="form-control" formControlName="estimatedHours" />
                    @if(checkFieldError('estimatedHours', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                    @if(checkFieldError('estimatedHours', 'pattern')){
                    <p class="error">Introduce un número de 0 a 1000</p>
                    }
                </div>

                <div class="mb-3">
                    <label for="workedHours" class="form-label">Horas trabajadas</label>
                    <input type="number" id="workedHours" class="form-control" formControlName="workedHours" />
                    @if(checkFieldError('workedHours', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                    @if(checkFieldError('workedHours', 'pattern')){
                    <p class="error">Introduce un número de 0 a 999</p>
                    }
                </div>

                @if(editProjectForm.hasError('validatestartend')){
                <p class="error">La fecha de fin de proyecto no puede ser anterior a la de inicio</p>
                }

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="editProjectForm.hasError('validatestartend')">Actualizar</button>
                    <!-- <input type="submit" value="Actualizar" class="btn btn-primary"> -->
                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>