.containerComponents {

    padding: 0.8rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/-w3UOCHSTG21jOEzaVCcfw.webp");
    background-size: cover;
    width: 100%;

}

.containerAll {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background-image: url("/images/-w3UOCHSTG21jOEzaVCcfw.webp");
    background-size: cover;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgb(0, 0, 0, 0.3);
    background-color: rgb(8, 8, 8);
    max-width: 650px;



}

.containerTitulo {
    padding: 1rem;
    text-align: center;



    h1 {
        color: white;
        text-align: center;
        font-weight: bold;
    }
}

@media(width>426px) {
    .containerAll {
        flex-direction: row;

        /*  justify-content: space-between;
        padding: 2rem;
        width: 75%;  */

    }

    /* 
    .containerTitulo {
        align-items: center;
        margin-left: 2rem;
        margin-top: 3rem;
        margin: 0;

        span {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 0.5rem;
        } */
}

/* } */

@media(min-width:769px) {
    .containerAll {




        .containerTitulo {
            span {
                display: inline;
            }
        }
    }
}