<div class="containerComponents">
    <img src="/images/a-clock-that-has-a-watching-eye-in-the-center (1).png" alt="logo">
    <div class="containerAll">
        <div class="containerTitulo">
            <h1>Welcome To Cronos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque possimus debitis hic! Nobis impedit
                beatae consequatur quasi? Cumque enim recusandae nulla earum? Atque voluptates, eligendi eum ducimus
                vitae
                laboriosam.</p>
        </div>
        <app-login-users></app-login-users>
    </div>
</div>