<div class="containerComponents">
    <div class="containerAll">
        <div class="containerTitulo">
            <h1>Welcome To CRONOS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque possimus debitis hic! Nobis impedit
                beatae consequatur quasi? Cumque enim recusandae nulla earum? Atque voluptates, eligendi eum ducimus
                vitae
                laboriosam.</p>
        </div>
        <app-login-users></app-login-users>
    </div>
</div>