.containerComponents {

    padding: 0.8rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/-w3UOCHSTG21jOEzaVCcfw.webp");
    background-size: cover;
    width: 100%;

}

.containerAll {

    padding: 0.8rem;
    background-image: url("/images/-w3UOCHSTG21jOEzaVCcfw.webp");
    background-size: cover;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgb(0, 0, 0, 0.3);


}

.containerTitulo {
    padding: 1rem;
    text-align: center;


    h1 {
        color: white;
        font-size: 22px;
        font-weight: bold;
    }


}

@media(min-width:426px) {
    .containerAll {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        width: 75%;

    }

    .containerTitulo {
        align-items: center;
        margin-left: 2rem;
        margin-top: 3rem;

        span {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 0.5rem;
        }
    }
}