.project {
  margin: auto;

  h1 {
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.selected {
  background: linear-gradient(to top right, rgb(6, 6, 88), rgb(27, 47, 163), rgba(94, 190, 245, 0.863));
  color: white;
}