.project {
  margin: auto;

  h1 {
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;
  }

  button {
    padding: 0.2rem 0.4rem;
  }
}

@media (min-width: 375px) {
  .project {
    button {
      padding: 0.4rem 0.6rem;
    }

    h1 {
      max-width: 150px;
    }
  }
}

@media (min-width: 768px) {
  .project {
    button {
      padding: 0.6rem 0.8rem;
    }

    h1 {
      max-width: none;
    }
  }
}
