.project {
  margin: auto;

  h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 0.2rem 0.4rem;
  }
}

@media (min-width: 375px) {
  .project {
    button {
      padding: 0.4rem 0.6rem;
    }
  }
}
